
  #aboutMe-Paragraph {
    color: var(white);
    font-size: 1.75rem;
    font-weight: bold;
    text-align: right;
    width: 50%;

  }
  .title {
    text-align: left;
  }
  .mainCircle {
    height: 37rem;
    width: 42rem;
    background-color: var(--magenta);
    border-radius: 50%;
  }
  
  .insideCircle{
    height: 35rem;
    width: 39rem;
    background-color: var(--purple-pink);
    border-radius: 50%;
  }
  .trailingCircle1{
    height: 7rem;
    width: 7rem;
    background-color: var(--magenta);
    border-radius: 50%;
    position: relative;
    left: 30rem;
  }
  
  .insideTrailingCircle1{
    height: 6.5rem;
    width: 6rem;
    background-color: var(--purple-pink);
    border-radius: 50%;
  }
  
  .TrailingCircle2 {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    color: #000;
    background-color: var(--magenta);
    position: relative;
    left: 38rem;
   
  
  }
  
  .insideTrailingCircle2{
    height: 5rem;
    width: 5rem;
    background-color: var(--purple-pink);
    border-radius: 50%;
  }