.lets-work-together {
    font-size: 3.5rem;
  font-weight: bolder;
  color: var(--pink-little-red);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  
  }
  
  .outside-form-container {
    margin-top: 1rem;
  }
  
  
form {
    border: var(--purple) 4px solid;
    border-radius: 25px;
  }
  

  #submitBtn {
    min-width: 15rem;
    max-width: 15rem;
  }
  
  #submitBtn:hover{
    text-decoration: none;
    color:white;
    font-weight: bolder;
  }