
li, .accolades {
    list-style: none;
    text-align: center;
    font-weight: bold;
    line-height: 3rem;
    font-size: 1.5rem;
    
  }

  #skills-container {
    border: var(--purple) 7px solid;
    padding: 10px;
    border-radius: 25px;
    margin-top: 1.5rem; 
  }
  
  .accolades-container {
    border: var(--purple) 5px solid;
    border-radius: 25px;
  }

 
  #skills-title {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--pink-little-red);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
.tech-logo {
  transform: scale(3.5);
}

.tech-item{
  text-align: center;
}
 
  
  .accolades-title {
    font-weight: bolder;
    font-size: 4rem;
    color: var(--pink-little-red);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .word-logo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
  }