/***********************************NAVBAR ***************************************/
:root {
  
  --main-bg-color: #27154d;
  --purple: #723C70;
  --magenta: #892B64;
  --purple-pink: #A01A58;
  --pink-little-red: #B7094C;
  --sky-blue: #0091AD;
  --dark-sky-blue: #1780A1;
  --darker-sky-blue: #2E6F95;
  --dark-blue: #455E89;
  --bs-body-bg: #27154d;
}

* {
  color: white;
  
}

html{
  background-color: var(--main-bg-color) !important;
 
}

.text-labels {
  font-size: 1.5rem;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  color: var(--pink-little-red);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a button {
  text-decoration: none;
  color: white;
}

a button:hover{
  text-decoration: none;
  color:white;
  font-weight: bolder;
}

img {
  padding: .5rem;
  border-radius: 25px;
}

.built-with {
  font-weight: bolder;
}



/* -------------------------------------------------MEDIA QUERIES BELOW----------------------------------------------------------------------------------- */
@media (max-width: 810px) {
    li, .accolades {
      line-height: 3rem;
    }
    .name {
      font-size: 3rem;
    }
    .title {
      font-size: 3rem;
    }
    #aboutMe-Paragraph {
      font-size: 1.25rem;
      padding-left: 4rem;
    }

    .project-title {
      font-size: 2.5rem;
      margin-top: none;
      margin-bottom: none;
    }
    .project-description {
      font-size: 2.5rem;
    }

    .lets-work-together {
      font-size: 2rem;
    }

    .navButtons {
      transform: scale(.75);
      margin-bottom: none;
    }
    #profile-pic{
      text-align: center;
      
    }
    .horizontal-icons {
      margin-left: 2rem;
      margin: right 1rem;
    }
    
}

@media (max-width: 576px){
  #profile-pic {
    margin-left: 5rem;
  }
}
@media (max-width: 412px){
  
  #aboutMe-Paragraph {
    padding-left: 0;
  }

}