/***********************************NAVBAR ***************************************/
:root {
  
  --main-bg-color: #27154d;
  --purple: #723C70;
  --magenta: #892B64;
  --purple-pink: #A01A58;
  --pink-little-red: #B7094C;
  --sky-blue: #0091AD;
  --dark-sky-blue: #1780A1;
  --darker-sky-blue: #2E6F95;
  --dark-blue: #455E89;
  --bs-body-bg: #27154d;
}

* {
  color: white;
  
}

html{
  background-color: var(--main-bg-color) !important;
 
}

h1 {
  text-align: center;
}
.navButtons {
  background-color: rgba(117, 22, 22, 0.527);
  border: none;
  font-weight: bolder;
  width: auto;
  border-radius: 25px;
  height: auto;
  font-size: 1.75rem;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.hero {
  background-color: var(--main-bg-color);
}
.name {
  text-align: center;
  overflow: hidden;
}
.navBar {
  background: rgb(195,34,34);
  background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(253,187,45,1) 88%); 
  height: auto;
  width: 100%;
  color: white;
  border-radius: 25px;

}



.navBar h2 {
  font-size: 4.5vw;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bolder;
}
#aboutMe-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  color: var(--pink-little-red);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#aboutMe-Paragraph {
  color: var(white);
  font-size: 1.75rem;
  font-weight: bold;
}
.mainCircle {
  height: 37rem;
  width: 42rem;
  background-color: var(--magenta);
  border-radius: 50%;
}

.insideCircle{
  height: 35rem;
  width: 39rem;
  background-color: var(--purple-pink);
  border-radius: 50%;
}
.trailingCircle1{
  height: 7rem;
  width: 7rem;
  background-color: var(--magenta);
  border-radius: 50%;
  position: relative;
  left: 30rem;
}

.insideTrailingCircle1{
  height: 6.5rem;
  width: 6rem;
  background-color: var(--purple-pink);
  border-radius: 50%;
}

.TrailingCircle2 {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  color: #000;
  background-color: var(--magenta);
  position: relative;
  left: 38rem;
 

}

.insideTrailingCircle2{
  height: 5rem;
  width: 5rem;
  background-color: var(--purple-pink);
  border-radius: 50%;
}

.tech-container {
  margin-top: -5rem;

}
#skills-title {
  text-align: left;
  font-size: 4rem;
  font-weight: bolder;
  color: var(--pink-little-red);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  left: 7rem;
  bottom: 15rem;
}

.js {
  transform: scale(3.5);
}
.skill-logos {
 text-align: center;
 margin-left: 8rem;
 margin-bottom: 2rem;
}

.skills-row2{
  margin-left: 3rem;
  margin-bottom: -1rem

}
.express-icon {
  font-weight: bolder;
  font-size: 2rem;
}

.accolades-title {
  font-weight: bolder;
  font-size: 4rem;
  color: var(--pink-little-red);
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  right: 2rem;
  top: -11rem;
  margin-top: 4rem;

}

.text-labels {
  font-size: 1.5rem;
  font-weight: bold;
}

#submitBtn {
  width: 10vw;
}

#submitBtn:hover{
  text-decoration: none;
  color:white;
  font-weight: bolder;
}

form {
  border: var(--purple) 4px solid;
  border-radius: 25px;
  position: relative;
}

#skills-container {
  border: var(--purple) 7px solid;
  padding: 10px;
  border-radius: 25px;
  margin-top: 1.5rem;
  position: relative;
  bottom: 13rem;
  left: -16rem;
  
  
  
}

.accolades-container {
  border: var(--magenta) 5px solid;
  border-radius: 25px;
  position: relative;
  bottom: 10rem;
}
.projectCard {
  border: var(--purple) 4px solid;
  height: auto;
  border-radius: 25px;
}

.project-title {
  text-align: center;
  font-weight: bolder;
  font-size: 3.5rem;
  color: white;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
img {
  width: 600px;
  padding: 1rem;
  
}

.project-description {
  font-weight: bolder;
  font-size: 3rem;
  color: var(--pink-little-red);
}
.project-description-paragraph {
  font-weight: bold;
}
.projectBtn {
  background-color: var(--magenta);
  border: var(--purple) solid 5px;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 25px;
}

img{
  border-radius: 25px;
  position: relative;
  overflow: auto;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover{
  text-decoration: none;
  color:white;
  font-weight: bolder;
}



li, .accolades {
  list-style: none;
  text-align: center;
  font-weight: bold;
  line-height: 4rem;
  font-size: 2rem;
  
}
.projects-title-text {
  font-size: 4rem;
  font-weight: bolder;
  color: var(--pink-little-red);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  bottom: 7rem;
  
}

.projects-container {
  position: relative;
  bottom: 5rem;

}

.lets-work-together {
  font-size: 4rem;
font-weight: bolder;
color: var(--pink-little-red);
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
position: relative;

}

/* -------------------------------------------------MEDIA QUERIES BELOW----------------------------------------------------------------------------------- */

@media (max-width: 1116px) {
  #aboutMe-Paragraph{
    font-size: 1.5rem;
  }
  #skills-title {
    bottom: 7rem;
  }
  #skills-container {
    top: -7rem;
    left: -2rem;
  }
  .express-icon {
    font-size: 1rem;
  }
  .accolades-title {
    top: -9rem;
  }
  .projects-title-text {
    top: -9rem;
  }
  .project-title {
    margin-top: 0rem;
    position: relative;
    bottom: 2rem;
  }
  .onlyPlants-title {
    text-align: center;
font-weight: bolder;
font-size: 3.5rem;
color: white;
margin-top: .5rem;
margin-bottom: 1.5rem;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
 
}
@media (max-width: 1045px){
  #aboutMe-Paragraph{
    font-size: 1.15rem;
    font-weight: bolder;
  }
  #aboutMe-title {
    line-height: 4rem;
    font-size: 2.5rem;
  }
  
  #skills-title {
    position: relative;
    left: 3rem;
    bottom: 7rem;
    font-size: 2.5rem;
  }
  
  #skills-container {
    left: -6rem;
    top:-7rem;
  }
  .express-icon{
    font-size: 1rem;
  }
  .skill-logos {
    text-align: none;
    
  }
  .js{
    transform: scale(2.75);
  }
  .accolades-title{
    font-size: 2.5rem;
    top: -2rem;

  }
  .accolades-container {
    left: -1rem;
  }
  li, .accolades {
    font-size: 1.15rem;
  }
  .navButtons {
    font-size: 1.15rem;
  }
  
}
@media (max-width: 810px){
  #aboutMe-title {
    line-height: 5.25rem;
    font-size: 5rem;
  }

}

@media (max-width: 570px) {
  .navBar  h2 {
    font-size: 10vw;
  }
  
  .navButtons {
    font-size: 1rem;
    height: fit-content;
    width: fit-content;
  }

 
}
